<div class="container bg-white p-4">
    <div class="contacto">
        <h3>Contact</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis obcaecati, nihil voluptatem aliquam
            distinctio
            fugit recusandae nulla enim esse provident ducimus voluptatibus cupiditate eaque ab reiciendis iste incidunt
            dolorem? Libero!
        </p>
    </div>
    <div class="row">

        <div class="col-sm-12 col-lg-8 bg-light rounded-1 m-auto border border-secondary-subtle">
            
            <div class="row my-2 justify-content-end">
                <label class="col-sm-2 col-form-label fw-semibold text-end me-4">Your E-mail</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="your email">
                </div>
            </div>

            <div class="row my-3 justify-content-end">
                <label class="col-sm-2 col-form-label fw-semibold text-end me-4">Example textarea</label>
                <div class="col-sm-8">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                        placeholder="Please enter your message here"></textarea>
                </div>
            </div>

            <div class="row mb-4 justify-content-end">
                <div class="col-sm-8 text-end">
                    <button class="btn btn-primary" type="button">Button</button>
                </div>
            </div>

        </div>
    </div>
</div>