


    <div class="card w-100   text-bg-light mb-3"  style="height: 300px;">
        <!-- a la tarjeta le damos un tamaño tanto ancho como  altura -->
        <img src="https://picsum.photos/id/110/1200/800" class="card-img img-fluid object-fit-cover h-100 " alt="...">
         <!-- A la imagen elegimos una que tenga un ancho y altura grande para que no sea deforme decimos que sea fluid para que adapte al ancho y que la imagen este centrada con object fit cover -->
        <div class="card-img-overlay img-fluid object-fit-cover h-100 mb-5">
            <!-- a la imagen que ira abajo le damos las mismas propiedades y le damos un margin botton abajo para que separe del contenido siguiente  -->
          <div class="row ">
            <!-- creamos un row para que los contenidos de la card sean responsive  ademas queremos que ocupe el bg de el h5 lo mas posible -->
            <h5 class="card-title col-12 bg-light bg-opacity-75 text-center display-3">Los mejores lugares en el bosque</h5>
            
            </div>
        </div>
    </div>
